@import url("theme.css");

.wy-nav-content {
    max-width: 70em;
}

/* position equation numbers to the right of the equation */
div.math {
    position: relative;
}

span.eqno {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
