.DS_store
compile_commands.json
*.h5
*.dat
*.out
*.gnu
*.txt
*.swp
run/
out/
tmp/
doc/_autosummary
doc/cpp2rst_generated
doc/sphinxext/
build/
build*/
CMakeFiles
CRASH
__pycache__/
*.coverage
julia/pyjuliapkg/
julia_init_*.sh
.hypothesis/
.vscode/

#QE and  wannier90 outputs
QE_tmp/
*.err
*.amn
*.bands.out
*.bnd.out
*.chk
*.mmn
*.nnkp
*.nscf.out
*.pw2wan.out
*.scf.out
*.werr
*.wout
*.mat
*.kpt
*.eig

#emacs temporary files
*~

