# Required python packages for this application (these should also be added to Dockerfile for Jenkins)
h5py
numba
numpy
pytest
scipy

# Optional python packages
mpi4py # For parallel processing with MPI